@import "./_normalize.scss";

*, *:before, *:after {
    box-sizing: border-box;
}

img {
	max-width: 100%;
}

$background-color: #ddd;
$accent-color: #222;

html {
    background: $background-color;
    color: #222;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

body {
    margin: 5rem auto;
    max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#unhide-target {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

#uncover {
	display: none;
}

.bg-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* Background image courtesy of Pixabay (https://pixabay.com/en/architecture-government-building-2700328/) */
    background: url("../images/optimized/bg.jpg");
    background-size: cover;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: -999;
}

.picture {
    background: #222;
    width: 150px;
    height: 200px;
    color: white;
    float: right;
}

p, ul, input, textarea, button {
    color: #444;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.15;
    width: 300px;
    height: 200px;
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(black, .1);
    position: relative;
    z-index: 9999;

    img {
        display: block;
        width: 60%;
        margin: 0 auto;
        padding-top: 5px;
    }

    span {
        font-size: 100px;
        color: $accent-color;
        position: relative;
        width: 200px;
        text-align: center;
    }

    $top-offset: -25px;
    $left-offset: 75px;

    .N {
        top: $top-offset + -10px;
        left: $left-offset + 0px;
        z-index: 999;
    }

    .K {
        top: $top-offset + 40px;
        left: $left-offset - 26px;
    }

    .title {
        position: relative;
        top: $top-offset + 15px;
        text-align: center;
    }
}

.content {
    /* Background pattern courtesy of Jorge Fuentes on Subtle Patterns */
    background-color: white;
    background-image: url("../images/optimized/lightpaperfibers.png");
    box-shadow: 0 0 5px rgba(black, .1);
    padding: 2rem;
    padding-top: calc(100px + 2rem);
    position: relative;
    top: -100px;

    h1, h2 {
        text-align: center;
    }

    h2 {
        margin-bottom: 2rem;
    }
}

.profile {
	float: right;
	width: 50%;
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.info {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
}

.info-left {
    padding-right: 1rem;
}

.info-right {
    padding-left: 1rem;
    border-left: 1px solid #888;
}

.contact {
    border-top: 1px solid #888;

    #message-to-user {
        background: white;
        height: 0;
        padding: 0;
        border: none;
        margin: 0;
        opacity: 0;
        transition: opacity .5s ease-out;

        &.error-message, &.info-message, &.success-message {
            padding: .5rem;
            margin-bottom: 1rem;
            border-width: 1px;
            border-style: solid;
            height: auto;
            opacity: 1;
        }

        &.error-message {
            background: #f2dede;
            border-color: #ebccd1;
            color: #a94442;
        }

        &.info-message {
            background: #d9edf7;
            border-color: #bce8f1;
            color: #31708f;
        }

        &.success-message {
            background: #dff0d8;
            border-color: #d6e9c6;
            color: #3c763d;
        }
    }

    input, textarea, button {
        border: 2px solid #888;
				color: #888;
				
				&:disabled {
					background: #ebebe4 !important;
				}
    }

    .input-wrapper {
        display: flex;
    }

    input, textarea {
        padding: .5rem;
    }

    input {
        flex: 1;
    }

    .name {
        margin-right: 1rem;
    }

    textarea {
        margin-top: 1rem;
        width: 100%;
    }

    .phone {
        position: absolute;
        z-index: -999999;
        left: 0;
        width: 0;
        height: 0;
    }

    .send {
        background: white;
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-top: .5rem;
        padding: .5rem;
        text-transform: uppercase;
        transition: all .2s ease-out;

        &:hover {
            border-color: #444;
            color: #444;
            background: #ddd;
        }

        &:active {
            color: white;
        }

        &:disabled {
            border-color: #888 !important;
            color: #888 !important;
            cursor: initial;
        }
    }
}

.footnote {
    color: #aaa;
    margin-top: 2rem;
}

.copyright {
    text-align: center;
}

.address {
    text-align: center;

    span {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .info {
        width: 100%;
        padding: 0;

        &.info-left {
            padding-bottom: 1rem;
            border-bottom: 1px solid #888;
            margin-bottom: 0;
        }

        &.info-right {
            border: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .contact {

        .input-wrapper {
            display: block;
        }

        input, textarea, button {
            width: 100%;
            margin-top: 0;
        }

        input {
            margin-bottom: 1rem;
        }
    }
}